html, body
  font-size: $rhythm
  font-family: $main-font
  color: $main-font-color
  background-color: $main-background-color
  line-height: $rhythm * 2.3
  margin: 0

h1, h2, h3, h4, h5, h6
  font-family: $header-font

p
  margin: $rhythm 0

button
  border: 0
  font-size: $rhythm
  font-weight: bold
  background-color: $main-font-color
  color: $main-background-color
  cursor: pointer
  padding: .6vw 1vw
  margin: 1vw 0

  &:disabled
    cursor: default
    background-color: $disabled-background-color !important
    color: $disabled-font-color !important

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  font-size: $rhythm * 2
  background-color: $main-font-color
  color: $main-background-color
  padding: 1vw 5vw
  height: 1.5vw

.container
  display: flex;
  margin-top: 3.5vw
  // flex-direction: column

.column_center
  order: 2
  flex: 1

.column_left, .column_right
  flex: 1
  // flex: 0 0 12em