html, body
  font-size: $rhythm * 1.5
  font-family: $main-font
  color: $main-font-color
  background-color: $main-background-color
  line-height: $rhythm * 2.3

h1, h2, h3, h4, h5, h6
  font-family: $header-font

p
  margin: $rhythm 0

button
  border: 0
  font-size: $rhythm
  font-weight: bold
  background-color: $main-font-color
  color: $main-background-color
  cursor: pointer
  padding: .6vw 1vw
  margin: 1vw 0

.main
  margin: 3vw 5vw 0
  width: 50vw

.sidebar
  width: 40vw

