html, body
  font-size: $rhythm * 2
  font-family: $main-font
  color: $main-font-color
  background-color: $main-background-color
  line-height: $rhythm * 2.3

h1, h2, h3, h4, h5, h6
  font-family: $header-font

p
  margin: $rhythm 0

.main
  margin: 0 8vw
  width: 62vw