$main-font: "Sansation", sans-serif
$header-font: "Day Roman", serif
$question-font: "RobotoBold", sans-serif

$main-background-color: #FFF8E3
$highlight-background-color: #9FB4CC
$question-background-color: #d3d3d3

$main-font-color: #33332D
$highlight-font-color: #DB4105

$rhythm: 1vw
$half-rhythm: $rhythm/2
