#annotatable_text
  padding: 0 1vw

.yellow-lighted
  background-color: $yellowlight-background-color

.green-lighted
  background-color: $greenlight-background-color

.breaking-span
  display: block
  opacity: 0
  height: .75vw
  line-height: .75vw
  font-size: 0

.annotatable-text__reduced
  font-size: 0
  line-height: 0

  .extended-offset
    display: inline-block
    padding-bottom: $rhythm * 2
    margin-bottom: $rhythm * 2
    border-bottom: .1vw dashed $main-font-color

  .breaking-span
    height: 0
    line-height: 0

.extended-offset
  font-size: $rhythm * 1.2
  line-height: $rhythm * 2.5

.offset
  color: #009ACD
  border-bottom: 1px dotted #000
