.ontology-tree
	position: absolute
	z-index: -1
	margin-top: 2vw
	border-top: .1vw dashed $main-font-color
	padding-top: 1vw

.ontology-tree__toggler
	margin-bottom: 2vw
	text-align: center

.ontology-tree__topic
	vertical-align: top
	width: 17.5%
	padding: 0 1%
	border-left: thin solid $main-font-color

.ontology-tree__branch
	list-style-type: square
	cursor: pointer
	font-size: 1vw

	ul
		padding-left: 1.5vw

	.topic
		list-style-type: none
		font-weight: bold
		font-size: 1.2vw
		border-bottom: .1vw solid $main-font-color
		margin-bottom: 1vw