ul.ontology-tree-list
	padding: 0

.ontology-tree
	z-index: -1
	width: 20vw
	background-color: darken(white, 3%)

.ontology-tree-toggler
	margin-bottom: 2vw
	text-align: center

.ontology-tree__topic
	vertical-align: top
	padding: 0 1%
	list-style-type: none

.ontology-tree__branch
	list-style-type: square
	cursor: pointer
	font-size: 1vw

	.topic
		list-style-type: none
		font-weight: bold
		font-size: 1.2vw
		margin-bottom: 1vw

