.question-bubble
  position: fixed
  font-family: $question-font
  right: 0
  top: 4.5vw
  width: 25vw
  max-height: 80%
  padding: $rhythm
  overflow-x: hidden
  overflow-y: auto
  direction: rtl
  background-color: $main-font-color
  color: $main-background-color
  button
    width: 100%
    margin: 10px 0
    font-size: 1vw
    background-color: $main-background-color
    border: .1vw solid $main-font-color
    color: $main-font-color
    &.half
      width: 40%
      margin: 10px
      padding: 5px
  ul
    margin-left: -50px
  select
    width: 100%
    font-size: 1vw
    background-color: $main-background-color
    border-color: $main-font-color
    color: $main-font-color
  p
    margin-top: 0

.question-bubble__content
  direction: ltr

#question_bubble_check_list
  label
    font-size: 1vw
    color: $main-background-color
    line-height: .1vw
  li
    margin-bottom: 1vw

.rewind-button
  width: 7vw !important
  margin-left: $rhythm !important
  z-index: 9999999999999999
  float: right
